[user]
	name = Sebastián Ventura
	email = lomegor@gmail.com
[core]
	editor = vim
[color]
	ui = auto
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
	rb = rebase
	spush = svn dcommit
	lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
	wip  = "git add -A; git ls-files --deleted -z | xargs -0 git rm; git commit -m \"wip\""
	unwip = git log -n 1 | grep -q -c wip && git reset HEAD~1
	panic = !tar cvf ../git_panic.tar .
	lost = !"git fsck | awk '/dangling commit/ {print $3}' | git show --format='SHA1: %C(yellow)%h%Creset %f' --stdin | awk '/SHA1/ {sub(\"SHA1: \", \"\"); print}'"
	fix = commit --amend -C HEAD
	dmerged = !"git branch --merged | egrep -v \"(^\\*|master|develop)\" | xargs git branch -d"
	dbranch = push --delete origin
	prb = pull --rebase
	radd = !"f() { git remote add ${1} git@github.com:${1}/monetate-frontend.git; }; f"
	prpo = !"git pull --rebase upstream master && git push origin master"
	fc = !"f() { git fetch ${1} pull/${2}/head:${3} && git checkout ${3}; }; f"
[push]
	default = current
[pull]
	default = current
